<div class="bar bar-header bar-positive">
    <h1 class="header" col-12>CALCULADORA</h1>

    <ion-grid>
        <ion-row>
            <ion-col class="pantalla" id="display" col-12></ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngFor="let item of rowOne" class="columna" col-3 (click)="displayData(item)"> 
            {{item}}
          </ion-col>
        </ion-row> <!-- First row -->
        <ion-row>
          <ion-col *ngFor="let item of rowTwo" class="columna" col-3 (click)="displayData(item)"> 
            {{item}}
          </ion-col>
        </ion-row> <!-- Second row -->
        <ion-row>
          <ion-col *ngFor="let item of rowThree" class="columna" col-3 (click)="displayData(item)"> 
            {{item}}
          </ion-col>
        </ion-row> <!-- Third row -->
        <ion-row>
          <ion-col *ngFor="let item of rowFour" class="columna" col-3 (click)="displayData(item)"> 
            {{item}}
          </ion-col>
        </ion-row> <!-- fourth row -->
      </ion-grid>

      <h4 class="header" col-12>Carlos Alejandro Buenrostro Ramírez</h4>
</div>
