page-home {

}

.columna {
    background-color: gainsboro;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
}

.pantalla {
    background-color: gainsboro;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    height: 50px;
}

.header {
    background-color: rgb(90, 122, 216);
    border: 8px solid white;
    border-radius: 15px;
    text-align: center;
    color: white;
}

